.liked {
	/* display: inline-block; */
	position: relative;
	margin-right: 10upx;
	width: 34upx;
	height: 34upx;
}

.post-username {
	font-size: 32upx;
	font-weight: 600;
	color: var(--blue);
}

.gallery_img {
	width: 100%;
	height: 100%
}

.header {
	width: 100%;
	height: 100%;
	z-index: 10;
	border-radius: 40upx;
}

.publish {
	position: absolute;
	top: 20upx;
	right: 20upx;
	/* z-index: 9999; */
}

.post_header {
	width: 90upx !important;
	height: 90upx !important;
	border-radius: 10upx;
	margin-top: 8upx;
}

#moments {
	background: var(--Default-background-color);
}

#moments .home-pic {
	width: 100%;
	/* margin-top: -150upx; */
	position: relative;
	height: 500upx;
	z-index: 5;
	background: url(../../static/index/test/bgi02.jpg) no-repeat center center;
	background-size: cover;
	margin-bottom: 50upx
}

#moments .home-pic-base {
	position: absolute;
	left: -60upx;
	bottom: -40upx;
	width: 100%;
	height: 160upx;
	padding: 0 30upx;
}

#moments .home-pic-base .top-pic {
	width: 360upx;
	height: 360upx;
	border-radius: 40upx;
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
	background-color: var(--Highlight-background-color);
	float: right
}

#moments .home-pic-base .top-name {
	position: absolute;
	/* left: 20px; */
	right: 240upx;
	top: 30upx;
	font-size: 32upx;
	font-weight: 600;
	text-align: right;
	color: var(--text-color);
	overflow: hidden
}

#moments .moments__post {
	display: block;
	border-bottom: 1px solid var(--border-color);
	padding: 30upx 20upx;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}

#moments .moments__post::before {
	content: none
}

#moments .moments__post .post_right {
	font-size: 32upx;
	display: table-cell;
	padding-left: 20upx;
	width: 100%;
}
#moments .moments__post .post_right .paragraph{
  margin: 10upx 0upx;
	color: var(--text-color);
  font-size: 28upx;
}

/* #moments .moments__post .post_right .paragraphExtender {margin: 5px auto;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex} */
#moments .moments__post .title {
	color: var(--blue)
}

#moments .moments__post .thumbnails {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	/* display: -webkit-box;display: -webkit-flex;display: -ms-flexbox; */
	/* -webkit-flex-wrap: wrap;-ms-flex-wrap: wrap; */
}

#moments .moments__post .thumbnails .thumbnail {
	width: 30%;
	height: 180upx;
	margin: 4upx;
	background: #757575;
	overflow: hidden;
}

.my-gallery {
	width: 250upx;
	height: 400upx;
	margin: 4upx;
	background: #757575;
	overflow: hidden
}

#moments .moments__post .toolbar {
	position: relative;
	top: 10upx;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

#moments .moments__post .toolbar .timestamp {
	color: #757575;
	font-size: 22upx;
}

#moments .moments__post .like {
	width: auto;
	height: auto;
	position: absolute;
	right: 60upx;
	display: flex;
	align-items: center;
}
@media (prefers-color-scheme: dark) {
  #moments .moments__post .like,.comment image{
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }
}

#moments .moments__post .comment {
	width: auto;
	height: auto;
	position: absolute;
	right: 0upx;
	display: flex;
	align-items: center;
}

#moments .moments__post .toolbar image {
	padding-left: 20upx;
	width: 40upx;
	height: 40upx;
}

.post-footer {
	margin-top: 30upx;
  padding: 10upx 30upx;
	background-color: var(--Highlight-background-color);
  border-radius: 10upx;
}

#moments .moments__post .footer_content {
	padding: 10upx 0upx;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

#moments .moments__post .footer_content .nickname {
	color: var(--blue);
	font-size: 24upx
}

#moments .moments__post .footer_content .comment-nickname {
	color: var(--blue);
	font-size: 24upx
}

#moments .moments__post .footer_content .comment-content {
	 color: var(--text-color);
	font-size: 24upx
}
#moments .moments__post .footer_content .comment-content span{
  color: var(--text-color);
}
.foot {
	position: fixed;
	width: 100%;
	height: 90upx;
	min-height: 90upx;
	left: 0upx;
	bottom: 0upx;
	overflow: hidden;
}
